@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel
@{

}

<div class="text-center">
    <form method="post">
      @* <form action=""> *@
      @* <label for="id" class="form-label">Id:</label>
      <input type="number" class="form-control" id="id" name="id" placeholder="Id"> *@
      <label for="descripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" asp-for= "Encomienda.descripcion" required>
      <label for="peso" class="form-label">Peso:</label>
      <input type="number" class="form-control" id="peso" placeholder="Peso" asp-for= "Encomienda.peso" required>
      <label for="tipo" class="form-label">Tipo:</label>
      <input type="text" class="form-control" id="tipo" placeholder="Tipo" asp-for= "Encomienda.tipo" required>
      <label for="presentacion" class="form-label">Presentacion:</label>
      <input type="text" class="form-control" id="presentacion" placeholder="Presentacion" asp-for= "Encomienda.presentacion" required>
      <hr>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>