@page
@{
}
 
<div class="text-center">
    <form method="POST">
        <select asp-for="Servicio.origen" class="form-control">
        <option value="">-</option>
        @foreach (var usuario in Model.Usuarios)
        {
            <option value="@usuario.id">@usuario.nombre @usuario.apellidos - @usuario.ciudad</option>
        }
        </select>


        <label for="Destino" class="form-label">Destino:</label>
        <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino">
        <label for="Fecha" class="form-label">Fecha:</label>
        <input type="Date" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
        <label for="Hora" class="form-label">Hora:</label>
        <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora">
        <label for="Paquete" class="form-label">Paquete:</label>
        <input type="text" class="form-control" id="paquete" name="paquete" placeholder="Paquete">
        <hr>
        <button type="submit" class="btn btn-success">Registrar</button>
    </form>
</div>