@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <img src="https://innovacioneconomica.com/wp-content/uploads/2020/06/amazon-logo-vector-png-vector-png-free-amazon-logos-705.jpg" alt=""> *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
